<nav class="header-nav">
    <div class="nav-wrapper">
        <a href="/pages/post-list/post-list.html" class="header-logo brand-logo center">DeepScope</i></a>

        <ul class="profile-menu right" id="profile-menu">
            <li>
                <a class="dropdown-trigger" href="#!" data-target="dropdown">
                    <img id="menu-burger" src="/assets/menu-burger.svg" alt="메뉴 버튼">
                </a>
            </li>
        </ul>

        <ul id="dropdown" class="dropdown-content">
            <li><a href="/pages/profile-edit/profile-edit.html">회원정보 수정</a></li>
            <li><a href="/pages/password-change/password-change.html">비밀번호 수정</a></li>
            <li><a href="#!">로그아웃</a></li>
        </ul>
    </div>
</nav>
