<nav class="grey lighten-4">
    <div class="nav-wrapper">
        <a href="/pages/post-list/post-list.html" class="header-logo">아무말대잔치</i></a>

        <ul class="profile-menu" id="profile-menu">
            <li>
                <a class="dropdown-trigger" href="#!" data-target="dropdown">
                    <img id="profile-image" src="" alt="프로필 이미지" class="circle">
                </a>
            </li>
        </ul>

        <ul id="dropdown" class="dropdown-content">
            <li><a href="/pages/profile-edit/profile-edit.html">회원정보 수정</a></li>
            <li><a href="/pages/password-change/password-change.html">비밀번호 수정</a></li>
            <li><a href="#!">로그아웃</a></li>
        </ul>
    </div>
</nav>
