.login-container {
  display: flex;
  align-items: center;
}

.login-container .row {
  width: 100%; /* row가 전체 너비를 유지하도록 */
  
}

.login-container .card {
  margin-top: 0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(12px); 
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#login-form .btn {
  width: 100%;
}
  
.card-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 16px;
  display: block;
}
  
.card-action {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-top: none !important;
}

.card-action a {
margin: 0 !important; /* 중복 제거 */
color: #444c66 !important;
}

.card-action a:hover {
text-decoration: underline;
}

.card-action span {
margin: 0 16px; /* 하나로 통일 */
}

/* 입력 필드 포커스 */
.input-field input:focus {
border-bottom: 1px solid #dad7ff !important;
box-shadow: 0 1px 0 0 #dad7ff !important;
}

.input-field input:focus + label {
color: #444c66 !important;
}

.input-field .prefix.active {
  color: #444c66 !important; 
}

.login-btn {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 8px; 
  height: 48px;
  line-height: 48px;
  font-size: 1.1rem;
  font-weight: 500;
  
  background-color: rgba(124, 150, 218, 0.25) !important;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3) !important;
}