.post-edit {
    margin-bottom: 16px;
    text-align: right;
}

.post-card {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 24x;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.card-content {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 32px;
    padding-bottom: 28px;
}

.post-title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 16px;
    color: #444c66
}

.post-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    color: #444c66c7;
}

.post-author {
    margin-top: 8px;
    color: #444c66c7;
}

.post-edit-btn {
    padding-left: 24px;
    padding-right: 24px;
    height: 48px;
    line-height: 48px;
    font-size: 1.1rem;                                                                        
    font-weight: 500;
    
    background-color: #dad7ff !important; 
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3) !important;
}