.post-edit {
    margin-bottom: 16px;
    text-align: right;
}

.post-card {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 24x;
    border: #e0e0e0 solid;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-content {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.post-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 8px;
}

.post-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    color: #898989;
}

.post-author {
    margin-top: 16px;
}