header {
    background-color: #AFC3E8 !important;
    min-height: 64px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav {
    background-color: #AFC3E8 !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: none !important;
}

.nav ul a {
    color: #444c66c7 !important;
}

#menu-burger {
    width: 32px;
    height: 32px;
    object-fit: cover;
    padding: 4px;
    vertical-align: middle;
    margin-right: 0;
}

nav .right {
    margin-right: 0 !important;
}

nav ul {
    margin-right: 0 !important;
}

nav .header-logo {
    color: #444c66c7;
    text-decoration: none;
}